<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <title>Photo Gallery for Google Drive</title>
        <meta name="description" content="">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/css/lib/normalize.css">
        <link rel="stylesheet" href="/css/homepage.css">
        <script src="/js/lib/modernizr-2.7.1.min.js"></script>
        <style type="text/css">
            body {
                font-family: 'Open Sans', sans-serif;
            }
        </style>
    </head>
    <body class="loading">
        <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div id="preload">
            <img src="/img/bcg_slide-1.jpg">
            <img src="/img/bcg_slide-2.jpg">
            <img src="/img/bcg_slide-3.jpg">
            <img src="/img/bcg_slide-4.jpg">
            <img src="/img/bcg_slide-5.jpg">
        </div>

        <main>

            <section id="slide-1" class="homeSlide">
                <div class="bcg"
                     data-center="background-position: 50% 0px;"
                     data-top-bottom="background-position: 50% -100px;"
                     data-anchor-target="#slide-1"
                >
                    <div class="hsContainer">
                        <div class="hsContent"
                             data-center="bottom: 275px; opacity: 1"
                             data-top="bottom: 1200px; opacity: 0"
                             data-anchor-target="#slide-1 h2"
                        >
                            <h2 style="white-space: nowrap; padding: 20px 20px 20px 10px;">
                                <img src="/img/drivegal-logo-128.png" style="float: left; width: 100px; height: 100px; margin-top: -10px; margin-right: 10px;">
                                Photo Gallery
                                <div style="font-size: 24px; font-weight: normal;">for Google Drive&trade;</div>
                            </h2>
                        </div>
                    </div>
                </div>
            </section>

            <section id="slide-2" class="homeSlide">
                <div class="bcg"
                     data-center="background-position: 50% 0px;"
                     data-top-bottom="background-position: 50% -100px;"
                     data-bottom-top="background-position: 50% 100px;"
                     data-anchor-target="#slide-2"
                >
                    <div class="hsContainer">
                        <div class="hsContent"
                             data-center="opacity: 1"
                             data-center-top="opacity: 0"
                             data--100-bottom="opacity: 0;"
                             data-anchor-target="#slide-2"
                        >
                            <h2>Take photos.</h2>
                        </div>
                    </div>
                </div>
            </section>

            <section id="slide-3" class="homeSlide">
                <div class="bcg"
                    data-center="background-position: 50% 0px;"
                    data-top-bottom="background-position: 50% -100px;"
                    data-bottom-top="background-position: 50% 100px;"
                    data-anchor-target="#slide-3"
                >
                    <div class="hsContainer">
                        <div class="hsContent"
                            data--50-bottom="opacity: 0;"
                            data--200-bottom="opacity: 1;"
                            data-center="opacity: 1"
                            data-200-top="opacity: 0"
                            data-anchor-target="#slide-3 h2"
                        >
                            <h2>Archive them on Google Drive.</h2>
                        </div>
                    </div>
                </div>
            </section>

            <section id="slide-4" class="homeSlide">
                <div class="bcg"
                    data-center="background-position: 50% 0px;"
                    data-top-bottom="background-position: 50% -100px;"
                    data-bottom-top="background-position: 50% 100px;"
                    data-anchor-target="#slide-4"
                >
                    <div class="hsContainer">
                        <div class="hsContent"
                             data-center="opacity: 1"
                             data-center-top="opacity: 0"
                             data--100-bottom="opacity: 0;"
                             data-anchor-target="#slide-4"
                        >
                        <!--div class="hsContent"
                            data-bottom-top="opacity: 0"
                            data-25p-top="opacity: 0"
                            data-top="opacity: 1"
                            data-anchor-target="#slide-4"
                        -->
                            <h2>Share them in your gallery. Automatically.</h2>
                        </div>
                    </div>
                </div>
            </section>

            <section id="slide-5" class="homeSlide">
                <div class="bcg"
                     data-center="background-position: 50% 0px;"
                     data-top-bottom="background-position: 50% -100px;"
                     data-bottom-top="background-position: 50% 100px;"
                     data-anchor-target="#slide-5"
                        >
                    <div class="hsContainer">
                        <div class="hsContent"
                             data-bottom-top="opacity: 0"
                             data-25p-top="opacity: 0"
                             data-top="opacity: 1"
                             data-anchor-target="#slide-5"
                                >
                            <h2>Own your memories.</h2>

                            <ul style="color: #333; margin: 0px 0px 25px 0px; padding-left: 20px;">
                                <li>Archive your photos on Google Drive.
                                <li>Store metadata directly in the files.
                                <li>Share them here. <span style="color: #fff; text-shadow: 0 0 2px #000;">Free.</span>
                            </ul>

                            <a href="/connect" class="btn btn-lg btn-default">Create your gallery now</a>

                        </div>
                    </div>
                </div>
            </section>

        </main>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <!--script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script-->
        <script src="/js/lib/imagesloaded.js"></script>
        <script src="/js/lib/skrollr.js"></script>
        <script src="/js/homepage.js"></script>

    </body>
</html>

