<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title '' %} | Photo Gallery for Google Drive</title>

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />

        {#<link rel="stylesheet" href="/css/lib/bootstrap.readable/bootstrap.min.css">#}
        <link rel="stylesheet" href="/css/lib/bootstrap/css/bootstrap.min.css">
        <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css" />

        <!--[if !IE 7]>
        <style type="text/css">
            #wrap {display:table;height:100%}
        </style>
        <![endif]-->

        {% block css '' %}
    </head>
    <body>
        <div id="wrap">

            {% include '_navbar.twig' %}

            <div id="main" class="container">
                {% if app.session.getFlashBag.peek('success') %}
                    <div class="alert alert-success" role="alert">
                        <strong>OK!</strong> {% for msg in app.session.getFlashBag.get('success') %}{{ msg }}<br/>{% endfor %}
                    </div>
                {% endif %}

                {% if app.session.getFlashBag.peek('error') %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Error: </strong> {% for error in app.session.getFlashBag.get('error') %}{{ error }}<br/>{% endfor %}
                    </div>
                {% endif %}

                {% block content %}{% endblock %}
            </div>
        </div>

        <div id="footer">
            <div class="text-muted">
                <img src="/img/drive_white-small.png" width="135" style="margin-right: 20px; float: left;">
                <div style="margin-top: 17px; display: inline-block; float: right;">
                    &copy; 2014 Jason Grimes.
                    Gallery contents are copyright their respective owners.
                </div>
            </div>
        </div>

        <script src="/js/lib/jquery/jquery-1.11.1.min.js"></script>
        <script src="/css/lib/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript">
            $(function() {
                // When opening the collapsed navbar (on mobile), automatically expand the dropdowns inside it.
                $('.navbar').on('shown.bs.collapse', function(e) {
                    $(e.target).find('.dropdown-toggle').dropdown('toggle');
                });
            });
        </script>

        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.grimesit.com/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 2]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
                g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="http://piwik.grimesit.com/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->

        {% block footer '' %}
    </body>
</html>
