{% extends "layout.twig" %}

{% block title %}Create your gallery{% endblock %}

{% block content %}

    <h1>Create your gallery</h1>

    <div class="well">
        <p>
            First, make sure you have photos available to share:
        </p>

        <ol class="double-spaced">
            <li>
                <a href="https://drive.google.com/" target="_blank">Create a Google Drive account</a>,
                if you don't have one already.
            </li>
            <li>
                <a href="https://support.google.com/drive/answer/2424368" target="_blank">Upload some photos</a> to a folder.
            </li>
            <li>
                <a href="https://support.google.com/drive/answer/2494822?hl=en&ref_topic=2525251">Share the folder</a>
                as "public on the web".
            </li>
        </ol>
    </div>

    <p>
        Just click the button below to create a gallery that shows your publicly visible photos and videos from Google Drive.
    </p>

    <p>
        Google will ask for your permission to share that information with us.
    </p>

    <div style="margin-top: 20px;">
        <a class="btn btn-primary" href="{{ auth_url }}">Connect to your Google Drive</a>
    </div>


{% endblock %}
