{% extends "layout.twig" %}

{% block title %}Create your gallery{% endblock %}

{% block content %}

    <h1>Create your gallery</h1>

    <p>
        Click below to connect to your Google Drive account and create a gallery for the photos and videos you've shared publicly.
    </p>

    <p>
        Google will ask your permission to let us access that information.
    </p>

    <p>
        <a class="btn btn-primary" href="{{ auth_url }}">Connect to Google Drive and Create Gallery</a>
    </p>

    <div class="well" style="margin-top: 40px;">
        <p>
            Before creating a gallery, make sure you have some photos available to share:
        </p>

        <ol class="double-spaced">
            <li>
                <a href="https://drive.google.com/" target="_blank">Create a Google Drive account</a>,
                if you don't have one already.
            </li>
            <li>
                <a href="https://support.google.com/drive/answer/2424368" target="_blank">Upload some photos</a> to a folder.
            </li>
            <li>
                <a href="https://support.google.com/drive/answer/2494822?hl=en&ref_topic=2525251" target="_blank">Share the folder</a>
                as "public on the web".
                (<em>Only your public folders</em> will be shown as albums in your photo gallery.)
            </li>
        </ol>
    </div>


{% endblock %}
